@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.page{
    margin: 0 auto;
    padding: 20px;
    max-width: 1440px;
} 

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header h1{
    color: #D3573C;
    padding-right: 110px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 70px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.2);
}

.photographer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer-redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CARDS ANIMATIONS */

.photographer-redirect figure {
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .photographer-redirect:hover figure {
    transform: scale(1.05);
  }
  
  .photographer-name {
    position: relative;
    overflow: hidden; /* Pour masquer la partie de la barre qui dépasse */
  }
  
  .photographer-name::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #D3573C;
    transition: width 0.3s ease-in-out;
  }
  
  .photographer-redirect:hover .photographer-name::before {
    width: 100%;
  }